@charset "utf-8";

/*
google fonts
font-family: 'Playfair Display SC', serif;
font-family: 'Noto Serif', serif;
font-family: 'Arbutus', cursive;
*/

@media(max-width: 480px){
	/*
		Insert style rules for mobile devices, up to 480px.
	*/
	body{
		
	}

	ul[class *= "description"]{
		display: none;
	}

}

.container{
}

header{
}

header h1{
	font-family: 'Arbutus', cursive;
	text-transform: uppercase;
}

.category{
	font-family: 'Playfair Display SC', serif;
}

.category-name{
	text-transform: uppercase;
	text-align: center;
}

.food-item{
		font-size:20px;

}

.food-description{
	font-family: 'Noto Serif', serif;
}

.food-description li{
	display: inline;
	font-size: 16px;
}

.food-description li::after{
	content: ", ";
}

.food-description li:last-child::after{
	content: none;
}

.food-price{
	text-align: right
}

.food-price::before{
	/*content:" / $";*/
}

.food-description{
	font-style: italic;
}

