@charset "utf-8";

/*
google fonts
font-family: 'Playfair Display SC', serif;
font-family: 'Noto Serif', serif;
font-family: 'Arbutus', cursive;
*/

@media(max-width: 480px){
	/*
		Insert style rules for mobile devices, up to 480px.
	*/
	body{
		
	}

	ul[class *= "description"]{
		/* by default, hide any content that is within a class
		that includes "description" */
		display: none;
	}

}

body{
	background: url(../images/retina_wood.png);
}

.container{
}

header{
}

header h1{
	font-family: 'Arbutus', cursive;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: inherit;
}

div.address, div.phone{
	color: #000;
	text-align: right;
	margin-top:10px;
}

.category{
	font-family: 'Playfair Display SC', serif;
	
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;

	border-style: solid;
	border-color: #666;
	border-width: thin;

	border-radius: 5px;
	background-color: #CCB299;
}

.category-name{
	text-transform: uppercase;
	text-align: center;
}

.category-name h3{
	border-bottom: thin;
	border-bottom-width: normal;
	border-bottom-style: groove;
	border-bottom-color: #000;
	padding-bottom: 5px;
}

.food-item{
		font-size:20px;

}

.food-description{
	font-family: 'Noto Serif', serif;
}

.food-description li{
	display: inline;
	font-size: 16px;
}

.food-description li::after{
	content: ", ";
}

.food-description li:last-child::after{
	content: none;
}

.food-price{
	text-align: right
}

.food-price::before{
	/*content:" / $";*/
}

.food-description{
	font-style: italic;
}

@media(max-width: 768px){
		div.address, div.phone{
			text-align: left;
			margin-top:0px;
			margin-bottom: 10px;
		}

		li.food-item{
			border-width: thin;
			border-radius: 3px;
		}

		li.food-item:nth-child(even){
			
		}

		li.food-item:nth-child(odd){
			background-color: #D6C1AD;
		}

}
